@use 'global' as *;

.blog{
    background-color: #fff;
    max-width: unset;
    padding: 5% 5%;
    
    .title{
        @extend %base-title;
    }

    .process-list{
        margin-top:40px;
        margin-bottom:36px;

        .process{
            margin-bottom:25px;

            & > div {
                & > h3{
                    color: $dark-green-title;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 500;
                }
                & > p{
                    color: $dark-green-text;
                    margin: 0;
                }
            }

            .process-icon{
                width:60px;
                height: 60px;
                margin-right: 10px;
                text-align: center;
                
                img{
                    height: 100%;
                }
            }
        }
    }

    button{
        height: auto;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        margin-bottom: 15px;
    }

    .card{
        .metadata{
            font-size: 14px;
            color: $gray;
            .category{
                color:$light-green;
            }
        }
        
        .card-body{
            & > .card-title{
                color:$dark-gray;
                font-size: 24px;
            }
            & > .card-text{
                color:$dark-gray;

                a {
                    color: $dark-gray;
                    font-weight:500;
                }
            }
        }
        .author{
            
            img{
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }

            p{
                color:$dark-gray;
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
                margin-top:15px;
                
            }
        }
    }
}

.try-it{
    background-color: $light-green;
    padding:3%;
    h2{
        color:$dark-green-title;
        font-size: 70px;
        text-align: center;
        margin-bottom: 2rem;
    }
    p{
        color:$white;
        font-size:16px;
    }
    form{
        height: 55px;
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        * {
            @extend %base-form-all-items;
        }
    }
}

.banner-free-trial{
    padding:5% 10%;
    .container{
        background-color: $dark-green-title;
        border-radius: 10px;
        padding: 3%;
    }
    div{
        h3{
            @extend %base-title;
            color:$white;
            font-size:40px;
            padding-bottom:20px;
        }
        p{
            color:$white;
            font-size:18px;
            a{
                color:$light-green;
            }
        }
        form{
            width:90%;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            * {
                @extend %base-form-all-items;
            }
            .input-fields{
                width:60%;
            }
            .form-button{
               width:40%;
                background-color: $light-green;
            }
        }
    }
}

@media (max-width: 575px) {
    .try-it{
        padding:6% 2%;  
        h2{
            color:$dark-green-title;
            font-size: 50px;
            text-align: center;
            margin-bottom: 2rem;
        }
        form{
            width:100%;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            * {
                font-size:16px;
            }
            .input-fields{
                width:55%;
            }
            .form-button{
               width:45%;
            }
        }
    }
    
    .banner-free-trial{
        padding:6% 2%;
        .container{
            background-color: $dark-green-title;
            border-radius: 10px;
            padding: 1%;
        }
        div{
            padding:0;
            form{
                padding:0;
                width:100%;
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: flex-satart;
                * {
                    font-size:15px;
                }
                .input-fields{
                    width:55%;
                }
                .form-button{
                   width:45%;
                    background-color: $light-green;
                }
            }
        }
    }
}

