/* Fuentes */
.blog .title, .banner-free-trial div h3 {
  font-family: "Alegreya", serif;
  color: #025157;
}

.try-it form *, .banner-free-trial div form * {
  font-size: 18px;
  padding: 15px 15px;
}

.blog {
  background-color: #fff;
  max-width: unset;
  padding: 5% 5%;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}
.blog .card .metadata {
  font-size: 14px;
  color: #979797;
}
.blog .card .metadata .category {
  color: #67b54b;
}
.blog .card .card-body > .card-title {
  color: #4a4a4a;
  font-size: 24px;
}
.blog .card .card-body > .card-text {
  color: #4a4a4a;
}
.blog .card .card-body > .card-text a {
  color: #4a4a4a;
  font-weight: 500;
}
.blog .card .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog .card .author p {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 15px;
}

.try-it {
  background-color: #67b54b;
  padding: 3%;
}
.try-it h2 {
  color: #025157;
  font-size: 70px;
  text-align: center;
  margin-bottom: 2rem;
}
.try-it p {
  color: #ffffff;
  font-size: 16px;
}
.try-it form {
  height: 55px;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-free-trial {
  padding: 5% 10%;
}
.banner-free-trial .container {
  background-color: #025157;
  border-radius: 10px;
  padding: 3%;
}
.banner-free-trial div h3 {
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 20px;
}
.banner-free-trial div p {
  color: #ffffff;
  font-size: 18px;
}
.banner-free-trial div p a {
  color: #67b54b;
}
.banner-free-trial div form {
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-free-trial div form .input-fields {
  width: 60%;
}
.banner-free-trial div form .form-button {
  width: 40%;
  background-color: #67b54b;
}

@media (max-width: 575px) {
  .try-it {
    padding: 6% 2%;
  }
  .try-it h2 {
    color: #025157;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .try-it form {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .try-it form * {
    font-size: 16px;
  }
  .try-it form .input-fields {
    width: 55%;
  }
  .try-it form .form-button {
    width: 45%;
  }
  .banner-free-trial {
    padding: 6% 2%;
  }
  .banner-free-trial .container {
    background-color: #025157;
    border-radius: 10px;
    padding: 1%;
  }
  .banner-free-trial div {
    padding: 0;
  }
  .banner-free-trial div form {
    padding: 0;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-satart;
  }
  .banner-free-trial div form * {
    font-size: 15px;
  }
  .banner-free-trial div form .input-fields {
    width: 55%;
  }
  .banner-free-trial div form .form-button {
    width: 45%;
    background-color: #67b54b;
  }
}

/*# sourceMappingURL=output.css.map */
