body{
    background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

p{
    color:#8b8b8bcc;
    font-family: Verdana;
    font-size: 18px;
}

button{
    color: #fff;
    background-color: #025157;
}


.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}


.header > * { /*  > * todo lo que haya dentro del bloque header (hijos) llevara este estilo*/
    display: inline-block;
    font-size: 16px;
    line-height: 45%;
    height: 100%;
    vertical-align: middle;
}

.fixed-header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #fffbf7;
}

.logo{
    width: 15%;
}

.logo > img{
    width: 15%;
}

.navbar{
    width: 70%;
    color:#025157;
    text-align: left;
    font-weight: 600;
}

.navbar li {
    display:inline;
    margin:0 25px;
}
  
.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > *{
    margin:0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button{
    color:#fff;
    background-color: #67b54b;
    padding: 14px 12px;
    border:none;
    border-radius: 5px;
}

.main{
    margin-top:250px;
    text-align: center;
}

h2{
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 42px;
}

p.content-text{
    color: #343434;
}

.form-button{
    color: #fff;
    background-color: #025157;
    padding: 7px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
}

.input-fields{
    padding: 6px 20px;
    border: 1px solid #b6b6b6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.promo{
    display:flex;
    width:70%;
    margin:100px auto;
    align-items: center;
}

.publish{
    margin-left: 40px;
}

.video-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

img.arrow{
    margin-top:15px;
    width: 15%;
}

.features{
    background-color: #025157;
    padding:80px 120px;
    height:auto;
    display:grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    gap: 35px;
}

.feature-card{
    background-color:#fff;
    border-radius: 5px;
    display: flex;
    /*margin-top:20px;
    margin-left:20px;*/
}

.features h3{
    color: #343434;
    font-size: 24px;
    font-weight:500;
    margin-bottom: 0;
    font-family:sans-serif;
}

.features p{
    color: #b6b6b6;
    font-size: 17px;
    font-weight:500;
    font-family:sans-serif;
}

.features a{
    color: #67b54b;
    font-size: 18px;
    font-weight:700;
    text-decoration: none;
    font-family:sans-serif;
}

.feature-info{
    display:flex;
    padding: 30px 20px 30px 40px;
    flex:2;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.feature-icon{
    width:8%;
}

.feature-image{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    align-items: stretch;
    flex:1;
}

.feature-image img{
   margin: 40px 0;
}

.testimonials{
    background-color: #a1d683;
    display:flex;
    /*width:70%;*/
    padding:100px 200px;
    align-items: center;
}

.testimonials-overview{
    margin-right:80px; 
}

.testimonials-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    color: #fff;
    background-color: #025157;
    padding: 20px 20px;
    border-radius: 10px;
    border:none;
    font-size:16px;
    font-weight: 600;
}

.testimonials-overview img{
    margin-top:15px;
    width:100%;
}

.testimonials-container img{
    margin-top:15px;
    width:100%;
}